#favorite-screen {
  width: 24rem;
  height: 32rem;
  position: fixed;
  top: 10rem;
}

#favorite-screen .favorite-header {
  position: fixed;
  top: 1rem;
  left: 8.5rem;
  height: 50px;
  line-height: 50px;
  color: white;
  text-align: center;
  font-size: 16pt;
}

/** Application icon */
#favorite-screen .fav-item.app-icon {
  width: 7.5rem;
  height: 7.5rem;
  position: fixed;
  right: -2.5rem;
  margin-top: 1.5rem;
}

#favorite-screen .fav-app-icon {
  width: 7.5rem;
  height: 100%;
}

/** List of favorites */
#favorite-list {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 10rem;
  left: 0rem;
  text-align: center;
  overflow-y: hidden;
  overflow-x: hidden;
  transition: all 1s;
}

/* Not focused item */
#favorite-list .title,
#favorite-list .subtitle,
#favorite-list .fav-small-icon {
  opacity: 0;
}

#favorite-list .fav-icon {
  width: 7.5rem;
  height: 7.5rem;
  overflow: hidden;
  border: 0.1rem solid #00adad;
  border-radius: 5rem;
}

#favorite-list .fav-item {
  height: 100%;
  width: 8.5rem;
  margin-top: 1.5rem;
  overflow: hidden;
  display: inline-block;
  position: fixed;
  left: -2.5rem;
  transition: left 1s, opacity 1s linear 0.5s;
}

#favorite-list .fav-item.default {
  background-image: url(/style/images/add_75px.png);
  background-repeat: no-repeat;
  overflow: hidden;
}

/* Item to move left */
#favorite-list .moved.fav-item {
  position: fixed;
  left: -10rem;
  opacity: 0.0;
}

#favorite-list .fav-small-icon {
  opacity: 0;
  transition: none;
}

/* Item with focus */

#favorite-list .selected.fav-item {
  height: 16.5rem;
  width: 12rem;
  margin-top: 0;
  position: fixed;
  left: 6.5rem;
  transition: left 0.5s opacity 1s linear 0.5s;
}

#favorite-list .selected .fav-small-icon {
  position: fixed;
  top: inherit;
  margin-top: 8rem;
  right: 6rem;
  opacity: 1;
  transition: none;
}

#favorite-list .selected .fav-icon {
  width: 11rem;
  height: 11rem;
  margin-top: 0rem;
  border-radius: 6rem;
  opacity: 1.0;
  transition: left 0.5s;
}

#favorite-list .selected.default.fav-item {
  background-image: url(/style/images/add_110px.png);
  background-repeat: no-repeat;
  overflow: hidden;
}

#favorite-list .selected .title {
  padding-top: 1.2rem;
  font-size: 2rem;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
  vertical-align: bottom;
  opacity: 1;
  transition: none;
}

#favorite-list .default .title {
  position: fixed;
  left: inherit;
  padding-top: 12.2rem;
}

#favorite-list .selected .subtitle {
  margin-top: 4rem;
  font-size: 1.5rem;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
  vertical-align: bottom;
  opacity: 1;
  transition: none;
}

.hidden {
  display: none;
  visibility: hidden;
  height: 0;
  opacity: 0.0;
}
